#streamlit
openai
huggingface_hub
Pillow
supervision
ultralytics
#whisper
torch
torchaudio
torchvision
--extra-index-url https://download.pytorch.org/whl/cpu
streamlit==1.22.0
whisper==1.0
ffmpeg-python==0.2.0